/*
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

.user-list {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-box,
.user-profile-box {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
  text-decoration: none;
}

.user-post-box {
  padding: 10px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-decoration: none;
}

.user-box:hover,
.user-post-box:hover {
  background: #ccc;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-summary {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user-bio {
  padding: 10px;
  border: 1px solid #ccc;
}

.user-box:hover .user-summary {
  border: none;
}

.user-post-count {
  font-weight: 700;
  font-size: 0.9rem;
  display: flex;
  justify-content: end;
}

.user-profile {
  padding: 0 20px;
}

.user-profile,
.user-post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.see-btn,
.post-btn {
  margin: auto;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.see-btn:hover {
  background: #ccc;
}

.post-btn {
  color: #379237;
  background: #fff;
  border: 1px solid #379237;
  cursor: pointer;
}

.post-btn:hover {
  color: #fff;
  background: #379237;
}

.like-btn {
  margin: 0 20px 0 auto;
  color: #3b44f6;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #3b44f6;
  border-radius: 8px;
  cursor: pointer;
}

.like-btn:hover {
  color: #fff;
  background: #3b44f6;
}

.commit-btn {
  margin: 0 0 0 auto;
  color: #2e2f30;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #2e2f30;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}

.commit-btn:hover {
  color: #fff;
  background: #2e2f30;
}

.add-comment-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-comment-text-box,
.input {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

.add-comment-text-box:focus,
.input:focus {
  border: 1px solid #555;
  background: #eee;
  outline: none;
}

.like-form {
  display: flex;
}

.comment-form {
  display: flex;
  flex-direction: column;
  background: #e0e0e040;
  padding: 20px;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-box,
.text-box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.comment-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment {
  display: flex;
  gap: 20px;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-card {
  padding: 0 5px;
  width: 100%;
  border-radius: 10px;
  background: #eee;
}

.comment-details {
  font-weight: 800;
}

.post-box {
  padding: 20px;
}

.seperator {
  padding: 0 10px;
}

.author {
  font-weight: 400;
  font-size: 1.3rem;
}
